.modal {
  width: 1500px;
  height: 700px;
  background: #95a5a6;
  z-index: 10;
}

.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 10;
}

.closeButton {
  position: relative;
  display: block;
  background: transparent;
  color: black;
}

.formContainer input {
}
