.App {
  z-index: 1;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  color: black;
  margin-top: 5px;
  flex-wrap: wrap;
}

/* put all close buttons in here so i only have to write the styles once */
.closeButton {
  position: relative;
  float: right;
  background: transparent;
  color: black;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  z-index: 10;
  right: 20px;
  top: 5px;
  font-size: larger;
}

/* modal wrappers here so just need to worry about styling each indivual modal now that the container is set to go */
.modalWrapper {
  z-index: 98;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
