.Modal {
  width: 80%;
  height: 80%;
  background: rgb(247, 245, 245);
  z-index: 99;
  overflow-y: auto;
}

.Row {
  width: 100%;
  max-height: 250px;
  display: flex;
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
  border-style: groove;
  border-color: grey;
}

.Box {
  max-height: 250px;
  max-width: 400px;
  border-color: dimgray;
  margin: auto;
  box-shadow: darkslategrey;
}

h5 {
  margin-left: 5px;
  margin-right: 5px;
}

.title,
.status {
  text-align: center;
  justify-content: center;
}

.modalHeader {
  display: flex;
  text-align: center;
}

.boxTitle {
  /* border-style: dashed; */
  border-color: rgb(99, 93, 99);
  box-shadow: black;
  margin: 1px 0 1px 0;
  max-height: 3rem;
  vertical-align: middle;
}

.filepond--root {
  max-height: fit-content;
}

.filePond-row {
  width: 100%;
  max-height: 250px;
}
