.contactCard {
  width: 250px;
  height: 200px;
  background-color: #dfe6e9;
  color: black;
  margin: auto;
  font-size: small;
  margin-top: 10px;
  box-shadow: black;
  border-radius: 10px;
}

.lastName {
  color: #e67e22;
}
